langchain-community
langchain-core
langchain-openai
langgraph>=0.0.1
python-dotenv
fastapi
uvicorn
pyyaml
jinja2
aiofiles
sqlalchemy
psycopg[binary,pool]
psycopg_pool
langgraph-checkpoint-postgres
scikit-learn
pandas
numpy
